/* Side-bar */
#admin-sidebar {
  background-color: rgb(89, 89, 250);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  min-height: 100vh;
}

/* Menu box */
.admin-box-menu a:hover {
  background-color: rgb(206, 206, 241);
  color: #000;
  transform: scale(1.05);
}

.admin-box-menu .active {
  background-color: rgb(5, 5, 96);
  color: white;
  transition: transform 1s ease-out;
}

.admin-box-menu .active:hover,
.admin-box-menu i:hover {
  background-color: rgb(206, 206, 241);
  color: #000;
  transform: scale(1.1);
}
.admin-box-menu .active i:hover {
  color: #000; 
}


@media (max-height: 600px){
  .admin-box-menu ul li a i{
    font-size: 12px;
  }
}
