p{
    font-size: 80%;
}

.admin-home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 100px;
}

.admin-home-con1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    gap: 10px;
}

.admin-home-con2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    place-items: center;
    gap: 50px;
}.info-card{
    display: flex;
    align-items: center;
    border: solid 1px rgb(49, 58, 29) ;
    border-radius: 5px;
    max-width: 170px;
    width: 170px;
    padding: 20px;
    gap: 20px
}.info-card div{
    display: flex;
    flex-direction: column;
    font-size: 95%;
}.info-card div p{
    font-size: 80%;
}.info-card:nth-child(5){
    grid-column: 2;
}.info-card:nth-child(6){
    grid-column: 3;
}.info-card i{
    font-size: 30px;
}

/* Responsive untuk layar dengan lebar maksimum 1024px */
@media (max-width: 1024px) {
    .admin-home-con2 {
      grid-template-columns: repeat(3, 1fr); /* Ubah grid menjadi 3 kolom */
      gap: 30px; /* Perkecil jarak antar elemen */
    }
  
    .info-card {
      max-width: 150px; /* Kurangi lebar kartu */
      width: 150px;
      padding: 15px; /* Kurangi padding */
      gap: 15px;
    }
  
    .info-card div {
      font-size: 90%; /* Kecilkan teks */
    }
  
    .info-card i {
      font-size: 25px; /* Ikon lebih kecil */
    }
  }
  

  @media (max-width: 780px) {
    .admin-home-con2 {
      grid-template-columns: repeat(2, 1fr); 
      gap: 20px;
      width: 100%;
    }
  

    .info-card{
     width: 100%;
    }

    .info-card:nth-child(5),
    .info-card:nth-child(6) {
      grid-column: auto;
    }
  
    .info-card div {
      font-size: 80%;
    }
  
    .info-card div p {
      font-size: 80%; /* Perkecil ukuran teks paragraf */
    }
  
    .info-card i {
      font-size: 20px;
    }
  }
  
  /* Responsive untuk layar dengan lebar maksimum 480px */
  @media (max-width: 480px) {
    .admin-home-container {
      padding: 20px; 
      gap: 20px; 
    }

    .admin-home-con1{
        margin-top: 25px;
    }
  
    .admin-home-con2 {
      grid-template-columns: 1fr; 
      gap: 15px;
    }
  
    .info-card {
      max-width: 70%; 
      gap: 8px;
    }
  
    .info-card div {
      font-size: 70%;
    }
  
    .info-card div p {
      font-size: 70%; 
    }
  
    .info-card i {
      font-size: 18px;
    }
  }
  