.cashier-container {
  display: flex;
  padding-top: 55px;
  overflow-x: hidden;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 30%;
  height: 100vh;
  border-right: solid 2px var(--warnaKetiga);
  z-index: 100;
  padding: 50px 20px;
  gap: 30px;
  overflow-y: auto;
}
.control-panel-cas {
  display: flex;
  gap: 20px;
  align-items: center;
}
.control-panel-cas select {
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 0.5px gray;
  cursor: pointer;
}
.control-panel-cas .search-input {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 0.5px gray;
}
.control-panel-cas input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 15px;
  width: 100%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}
.product-grid .product-item-cas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 70%;
  background-color: white;
  position: relative;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.236);
}
.product-item-cas img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 10px;
  aspect-ratio: 1/1;
}
.product-item-cas .product-details-cas {
  display: flex;
  font-size: 70%;
}
.product-item-cas:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
  transition: 0.3s;
}
.product-ava {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 10;
  border-radius: 10px;
  padding: 0 3px;
}
.p-available {
  background-color: rgba(6, 91, 6, 0.921);
  color: white;
}
.p-notava {
  background-color: rgb(95, 0, 0);
  color: white;
}

.rightcon-wrap {
  margin-left: 30%;
  width: 70%;
}
.right-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 200px;
}
.right-con1 {
  display: flex;
  gap: 20px;
}

.items-wrap {
  background-color: rgb(228, 228, 228);
  padding: 20px;
  min-height: 30vh;
  min-width: 40vw;
}
.items-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.items-header button {
  display: none;
  font-size: 0.55rem;
  padding: 5px;
  border-radius: 5px;
  border: gray solid 0.3px;
  color: white;
  background-color: #0056b3;
}
.items-header button:hover {
  cursor: pointer;
  background-color: gray;
  color: black;
}

.no-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.196);
  background-color: white;
  gap: 3px;
}
.no-cart i {
  color: blue;
  font-weight: bold;
}

.cart-items {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  max-height: 40vh;
  overflow-y: auto;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 7px 15px;
  cursor: pointer;
}
.cart-item img {
  border-radius: 10px;
  width: 40px;
  height: 45px;
  aspect-ratio: 1/1;
  object-fit: cover;
  flex-grow: 1;
}
.cart-item-details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart-item-details-ext {
  display: flex;
  flex-direction: column;
  font-size: 14.5px;
}
.cart-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(226, 226, 226);
  padding: 3px 7px;
}
.cart-controls span {
  min-width: 1.2vw;
  text-align: center;
  font-size: 13px;
}
.cart-controls button {
  background-color: rgb(148, 148, 255);
  color: rgb(1, 43, 48);
  font-weight: bold;
  border: white 1px solid;
  padding: 3px 7px;
}
.cart-controls button:hover {
  cursor: pointer;
  background-color: gray;
}
.cart-item .delete-btn {
  padding: 5px 10px;
  background-color: rgb(195, 3, 3);
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  margin-left: 10px;
}
.cart-item .delete-btn:hover {
  border-color: gray;
  background-color: rgb(111, 0, 0);
}

.cas-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.fcas-row-1 {
  display: flex;
  gap: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.select-table {
  border-radius: 5px;
  padding: 9px 15px;
  border: solid 0.5px gray;
  font-size: 17px;
  background-color: white;
}
.form-group input[type="number"],
.form-group-row2 input[type="number"] {
  border-radius: 5px;
  padding: 9px 15px;
  border: solid 0.5px gray;
  font-size: 17px;
  margin: 5px;
}
.form-group input::placeholder,
.form-group-row2 input::placeholder {
  color: gray;
  font-size: 17px;
}
.form-group label {
  font-size: 16px;
}
.fcas-row2 {
  display: flex;
  gap: 20px;
}
.form-group-row2 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-group-row2 label {
  font-size: 16px;
}

.cas-special-input {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: solid 0.5px gray;
  padding: 9px 15px;
}
.cas-special-input input {
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 17px;
}
.cas-special-input i {
  font-size: 14px;
}

.change-mny {
  font-size: 15px;
}

.order-btn {
  align-self: flex-end;
  background-color: #268601;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  margin-right: 10px;
}

.generate-invoice-btn:hover {
  background-color: #0056b3;
}

.disc-status {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 15px;
  height: 2px;
}

.small-loader {
  width: 15px;
  height: 15px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1330px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
  }
}

@media (max-width: 1200px) {
  .left-container {
    font-size: 80%;
  }
  .control-panel-cas {
    gap: 5px;
  }
  .control-panel-cas .search-input input,
  .control-panel-cas .search-input i,
  .control-panel-cas select {
    font-size: 0.7rem;
  }
  .product-item-cas img {
    width: 70px;
    height: 70px;
  }

  .right-container {
    padding: 10px;
    margin: 10px;
  }
  .items-wrap {
    padding: 5px 10px;
  }
  .no-cart {
    font-size: 1rem;
  }
  .cart-item img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  .cart-item-details {
    gap: 5px;
  }
  .cart-item-details-ext {
    font-size: 0.9rem;
  }
  .cart-controls span {
    min-width: 1vw;
    font-size: 12px;
  }
  .cart-controls button {
    padding: 1px 7px;
  }
  .cart-controls .delete-btn {
    font-size: 0.8rem;
    padding: 3px 7px;
  }

  .pricing-details label {
    font-size: 0.8rem;
  }
  .pricing-details h2,
  .items-wrap h4 {
    font-size: 1.1rem;
  }
  .pricing-details h5 {
    font-size: 1rem;
  }

  .fcas-row-1 label {
    font-size: 0.75rem;
  }
  .cas-form input,
  .cas-form .select-table,
  .cas-form input::placeholder,
  .form-group-row2 input[type="number"],
  .change-mny {
    font-size: 0.8rem;
  }
  .disc-status {
    font-size: 0.8rem;
    text-align: center;
    height: 5px;
  }

  .fcas-row2 label {
    font-size: 0.9rem;
  }

  .order-btn {
    padding: 5px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .cashier-container {
    padding: 5px;
    gap: 0;
    margin-top: 5rem;
    align-items: center;
  }
  .left-container {
    position: fixed;
    top: 7%;
    left: 0;
    height: 100%;
    width: 70vw;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 100;
    overflow-y: auto;
    font-size: 80%;
  }
  .left-container.open {
    transform: translateX(0);
    opacity: 1;
  }
  .left-container.closed {
    transform: translateX(-100%);
    opacity: 0;
  }
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
  }

  .rightcon-wrap {
    width: 100%;
    margin-left: 0;
  }
  .right-container {
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .right-con1 {
    gap: 5px;
    margin: 10px 5px 0 5px;
  }

  .items-header button {
    display: initial;
  }

  .pricing-details label {
    font-size: 0.75rem;
  }
  .pricing-details h2,
  .items-wrap h4 {
    font-size: 1rem;
  }
  .pricing-details h5 {
    font-size: 0.9rem;
  }

  .cas-form {
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }
  .fcas-row-1,
  .fcas-row2 {
    background-color: white;
    border-radius: 7px;
    border: solid rgb(176, 174, 174) 1px;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
  }

  .no-cart {
    font-size: 0.8rem;
  }
  .cart-item img {
    display: none;
  }
  .cart-item-details {
    gap: 5px;
  }
  .cart-item-details-ext {
    font-size: 0.7rem;
  }
  .cart-controls span {
    min-width: 0.8vw;
    font-size: 10px;
  }
  .cart-controls button {
    padding: 1px 5px;
  }
  .cart-controls .delete-btn {
    font-size: 0.6rem;
    padding: 3px 5px;
  }

  .pricing-details label {
    font-size: 0.65rem;
  }
  .pricing-details h2,
  .items-wrap h4 {
    font-size: 0.9rem;
  }
  .pricing-details h5 {
    font-size: 0.8rem;
  }

  .fcas-row-1 label {
    font-size: 0.65rem;
  }
  .cas-form input,
  .cas-form .select-table,
  .cas-form input::placeholder,
  .form-group-row2 input[type="number"],
  .change-mny {
    font-size: 0.7rem;
  }

  .fcas-row2 label {
    font-size: 0.8rem;
  }

  .order-btn {
    padding: 5px 20px;
    font-size: 0.8rem;
  }
}
