/*history*/
.history-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
  margin-bottom: 20vh;
}
.history-container .header-title {
  margin-top: 50px;
  align-self: center;
}

.history-main {
  display: flex;
  gap: 20px;
  margin: 30px 1rem 0 1rem;
}
.history-secondary{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.history-data{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.history-data .card-1{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  border: solid 0.5px rgb(149, 149, 149);
  border-radius: 5px;
}
.history-data .card-1 p{
  font-size: 1rem;
}
.history-main-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-grow: 1;
}
.tab-buttons {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  border-bottom: solid 2px gray;
}

/*order & res table */
.order-table-wrap {
  display: flex;
  flex-direction: column;
}
.table-header {
  margin-top: 30px;
}
.cas-filters {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.cas-filters .search-input {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 3px 10px;
  border-radius: 5px;
  border: solid gray 1px;
}
.cas-filters .search-input input,
.cas-filters .search-input i {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: black;
}
.cas-filters select {
  border: solid gray 1px;
  font-size: 15px;
  background-color: rgba(251, 251, 251, 0.918);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.cas-filters .other-filt {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cashier-table {
  background-color: white;
  margin-top: 10px;
  border: rgb(221, 221, 221) 0.3px solid;
  width: 100%;
  border-collapse: collapse;
}
.cashier-table td {
  padding: 15px;
  font-size: 1.2rem;
  color: #333;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}
.cashier-table tr {
  border-bottom: 1px solid #ddd;
}
.cashier-table th {
  padding: 15px;
  background-color: #f4f4f4;
  font-size: 1rem;
  color: #555;
  text-align: left;
}
.cashier-table tr:nth-child(even) {
  background-color: #edf2f4;
}
.cashier-table tr:hover {
  background-color: #f1f1f1;
}

/* order details popup */
.order-details-con {
  position: fixed;
  top: 1px;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.437);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.ord-detail-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.948);
  color: black;
  border-radius: 2px;
  padding: 15px 30px;
  gap: 20px;
  margin-top: 50px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.ord-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.ord-card-header i:hover {
  color: gray;
  cursor: pointer;
}

.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-size: 15px;
  padding: 15px;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.388);
  width: 270px;
  gap: 10px;
}
.receipt .border-double {
  width: 100%;
  height: 2px;
  background-color: none;
  border-top: double 4px gray;
}
.receipt .border-single {
  width: 100%;
  height: 1px;
  background-color: none;
  border: dashed 0.5px gray;
}
.receipt-date,
.receipt-final {
  align-self: flex-start;
  font-size: 12px;
}
.receipt-items,
.receipt-fee {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.receipt-items .item,
.receipt-fee .item {
  display: flex;
  justify-content: space-between;
}
.receipt-closing,
.receipt-header {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}

.ord-card-footer {
  display: flex;
  gap: 15px;
  align-self: flex-end;
}
.ord-card-footer button {
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  border: none;
}
.download-btn {
  background-color: rgb(25, 103, 25);
}
.print-btn {
  background-color: rgb(32, 56, 116);
}
.ord-card-footer button:hover {
  background-color: gray;
  cursor: pointer;
}
.delete-con {
  align-self: flex-end;
}
@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .receipt {
    visibility: visible;
    position: relative;
    width: 100%;
    max-width: 210mm; /* Pas dengan ukuran A4 (lebar) */
    height: auto;
    max-height: 297mm; /* Pas dengan ukuran A4 (tinggi) */
    margin: 0 auto; /* Pusatkan di halaman */
    padding: 10mm; /* Beri jarak di dalam elemen */
    box-sizing: border-box;
    page-break-inside: avoid; /* Hindari pemotongan halaman */
  }

  /* Sembunyikan elemen lain */
  body * {
    visibility: hidden;
  }

  .receipt,
  .receipt * {
    visibility: visible;
  }
}

/* res details cas */
.res-details-cas {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.886);
  border-radius: 15px;
  padding: 15px;
  margin-top: 50px;
}
.res-body1,
.res-body2 {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
}
.res-body1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.res-body1 select {
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 0;
}

.res-body2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 17px;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
}
.res-body2 hr,
.res-body2 h5,
.res-body3 hr,
.res-body3 h5 {
  align-self: center;
}
.res-body2 div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 5px;
  gap: 10px;
}

.res-body3 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-top: 10px;
  gap: 10px;
}
.res-body3 div {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: white;
}
.res-body3 span {
  margin-top: 5px;
}



@media (max-width: 1300px) {
  .cas-filters .other-filt .pay-status {
    display: none;
  }
  .history-main {
    margin: 0;
  }

  .cashier-table th,
  .cashier-table td {
    font-size: 0.8rem;
    padding: 15px;
  }
  .cashier-table td span {
    font-size: 0.7rem;
    padding: 2px 4px;
  }

  .table-det span {
    font-size: 0.9rem;
  }
}

@media (max-width: 1120px) {
  .history-main {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .history-secondary{
    flex-direction: row;
  }
  .history-data{
    flex-direction: column;
  }
  .history-data .card-1{
    justify-content: center;
  }

  .table-det {
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 3px 10px;
    border: solid rgb(221, 221, 221) 1px;
  }
  .cashier-table th,
  .cashier-table td {
    font-size: 0.8rem;
    padding: 15px;
  }
  .cashier-table td span {
    font-size: 0.7rem;
    padding: 2px 4px;
  }
  .cas-filters {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .cas-filters .search-input input,
  .cas-filters
  .search-input i,
  .cas-filters select,
  .cas-filters .date-input {
    font-size: 0.9rem;
  }


  .table-det span {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .history-container {
    padding: 5px;
    gap: 0;
    margin-top: 5rem;
    align-items: center;
  }
  .history-container .header-title {
    margin-bottom: 30px;
  }
  .history-secondary{
    flex-direction: column-reverse;
  }
  .history-data{
    flex-direction: row;
  }
  .history-data .card-1 p{
    font-size: 0.65rem;
  }
  .history-data h3{
    font-size: 1.2rem;
  }
  .history-main-content {
    margin: 0 5px;
  }
  .tab-buttons {
    margin-top: 40px;
  }

  .table-det span {
    font-size: 0.7rem;
  }

  .cas-filters .search-input input,
  .cas-filters
  .search-input i,
  .cas-filters select,
  .cas-filters .date-input {
    font-size: 0.8rem;
  }

  .cashier-table {
    margin-top: 10px;
    width: 90vw;
  }
  .cashier-table th {
    display: none;
  }
  .cashier-table td, .td-username {
    display: grid;
    grid-template-columns: 20ch 1fr;
    padding: 4px;
    font-size: 0.8rem !important;
  }
  .cashier-table td span {
    font-size: 0.6rem;
    padding: 0 3px;
  }
  .cashier-table td::before {
    font-weight: 700;
    font-family: Poppins;
    font-size: 0.75rem;
    color: rgb(39, 39, 39);
  }

  .cashier-table .td-code::before {
    content: "Code: ";
  }
  .cashier-table .td-resstat::before {
    content: "Res-Status:" !important;
  }
  .cashier-table .td-paystat::before {
    content: "Payment Status:" !important;
  }
  .cashier-table .td-resdate::before {
    content: "Res-Date:" !important;
  }
  .cashier-table td:nth-of-type(2)::before {
    content: "Type:";
  }
  .cashier-table td:nth-of-type(3)::before {
    content: "Cus-Name:";
  }
  .cashier-table td:nth-of-type(4)::before {
    content: "No. Table:";
  }
  .cashier-table td:nth-of-type(5)::before {
    content: "Payment Status:";
  }
  .cashier-table td:nth-of-type(6)::before {
    content: "Fee:";
  }
  .cashier-table td:nth-of-type(7)::before {
    content: "Created At:";
  }
}
