.loyalty-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 70px;
}

.loy-con1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.loy-con1 .akun-box{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.375);
  border-radius: 20px;
}.akun-box span{
  font-size: 15.5px;
}.akun-box:hover{
  cursor: pointer;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.375);
  background-color: rgb(229, 226, 226);
  transition: 0.3s all;
}

.loy-con2{
  margin-top: 25px;
  padding: 30px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 align-self: center;
  gap: 30px;
  border-radius: 20px;
  background-color: rgb(227, 230, 202);
}
.loy-con2 i{
  font-size: 30px;
}
.item-loy-con2{
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.375);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.item-loy-con2 p{
  font-size: 13px;
}
.item-loy-con2 sub{
  font-size: 11px;
}.item-loy-con2 span{
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}
.cc-pts{
  background-color: rgb(255, 231, 76);
}
.res-made{
  background-color: rgb(95, 250, 224);
}
.ord-made{
  background-color: rgb(100, 254, 100);
}

/* Responsiveness for 1024px */
@media (max-width: 1024px) {
  .loyalty-container {
    padding: 30px;
    gap: 50px;
  }

  .loy-con2 {
    padding: 20px 30px;
    gap: 20px;
  }

  .item-loy-con2 {
    gap: 15px;
    padding: 15px;
  }

  .item-loy-con2 p {
    font-size: 12px;
  }
}

/* Responsiveness for 780px */
@media (max-width: 780px) {
  .loyalty-container {
    gap: 40px;
  }

  .loy-con1 {
    gap: 15px;
    margin-top: 11%;
  }

  .loy-con1 h2{
    font-size: 100%;
  }

  .loy-con1 .akun-box{
    gap: 5px;
    padding: 5px 10px;
  }

  .akun-box span{
    font-size: 70%;
  }

  .loy-con2 {
    padding: 20px;
    gap: 15px;
    flex-wrap: wrap;
  }

  .item-loy-con2 {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .item-loy-con2 span {
    align-self: flex-start;
  }
}

/* Responsiveness for 480px */
@media (max-width: 480px) {
  .loyalty-container {
    padding: 20px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loy-con1 .akun-box{
    gap: 5px;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .loy-con1 .akun-box span{
    font-size: 50%;
  }

  .loy-con1 h2{
    display: none;
  }

  .loy-con2 {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    gap: 10px;
  }

  .item-loy-con2 {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .item-loy-con2 p {
    font-size: 11px;
  }

  .akun-box {
    flex-direction: column;
    gap: 5px;
  }

  .akun-box span {
    font-size: 14px;
  }
}
