body {
    font-size: 1.5rem;
}

.main-regist {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/bg_login.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.container-regist {
    display: flex;
    justify-content: center;
    color: white;
    background: rgba(241, 242, 243, 0.064);
    box-shadow: 0px 0px 15px var(--warnaUtama);
    border: 3px solid var(--warnaKedua) ;
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(25px);
    gap: 50px;
}

.conLogin-1{
    display: flex;
    flex-direction: column;
    height:max-content;
    justify-content: space-between;
}
.conLogin-1 i{
    color: white;
}
.conLogin-1 i:hover{
    cursor: pointer;
    color: var(--warnaKedua);
}
.logo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: white;
    margin-top: 40px;
}


#input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

#input-wrapper h1 {
    margin-bottom: 10px;
}

#input-wrapper h1 a {
    font-style: none;
    font-size: small;
    text-decoration: none;
    color: white;
}


hr {
    width: 80%;
}

#input-fields {
    margin-top: 20px;
    width: 280px;
}

#input-fields form {
    display: flex;
    flex-direction: column;
}


#input-fields .login-input {
    font-size: 15px;
    padding: 5px 15px;
    width: 100%;
    border: 2px solid var(--warnaKedua);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

input::placeholder {
    color: black;
}

#input-fields .login-input:focus {
    outline: none;
    box-shadow: 0px 0px 15px #C79E73;
    border: solid #C79E73;
    background-color: var(--warnaKedua);
    color: black;
}

#remember {
    padding: 0 !important;
    margin: 0 !important;
    width: 20px !important;
    display: block;
    margin-right: 10px !important;
}

#remember-me {
    display: flex;
    width: 100%;
    font-size: 16px;
    mix-blend-mode: difference;
}

 form .regis-btn {
    padding: 7px 25px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
    background-color: green;
    border: white solid 1px;
    background-size: 200%;
    color: white;
    align-self: flex-end;
}
form .regis-btn:disabled{
    background-color: rgb(2, 36, 2);
    color: rgba(255, 255, 255, 0.364);
    border: solid rgba(255, 255, 255, 0.352) 1px;
    cursor: not-allowed;
}

form .regis-btn:hover {
    background-color: rgb(79, 236, 79);
}

@keyframes warna {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 100%;
    }
}

@media (max-width: 1280px) {
    #login-container {
        width: 50%;
        height: auto;
        padding: 20px;
    }

    #input-wrapper {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 1110px) {
    #login-container {
        width: 60%;
        height: auto;
        padding: 20px;
    }

    #input-wrapper {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 912px) {
    #login-container {
        width: 50%;
        height: auto;
        flex-direction: column;
        padding: 15px;
    }

    #logo-wrapper img {
        width: 10rem;
    }

    #logo-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #input-fields {
        width: 100%;
    }

    #button-group {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #button-group button {
        width: 100%;
    }
}




