body {
    font-size: 1.5rem;
}

.main-regist {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/bg_login.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.container-regist {
    display: flex;
    justify-content: center;
    color: white;
<<<<<<< HEAD
    background: rgba(186, 229, 253, 0.2);
    box-shadow: 0px 0px 15px var(--warnaUtama);
    border: 3px solid var(--warnaKedua) ;
    border-radius: 20px;
    height: 50%;
    /* width: 50%; */
    padding: 30px;
    backdrop-filter: blur(5px);
}

#logo-wrapper{
    display: flex;
    align-items: center;
}

#logo-wrapper img {
    width: 17rem;
    /* background-color: red; */
    /* height: 100%; */
}

#input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

#input-wrapper h1 {
    margin-bottom: 10px;
}

#input-wrapper h1 a {
    font-style: none;
    font-size: small;
    text-decoration: none;
    color: white;
}


hr {
    width: 80%;
}

#input-fields {
    margin-top: 20px;
    width: 280px;
}

#input-fields form {
    display: flex;
    flex-direction: column;
}

.inpt {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 5px 0;
}

.input-regist label i {
    position: absolute;
    font-size: 20px;
    transform: translateY(8px);
    right: 18px;
}

#input-fields .regist-input {
    font-size: 15px;
    padding: 5px 15px;
    width: 100%;
    border: 2px solid var(--warnaKedua);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
=======
    background: rgba(241, 242, 243, 0.064);
    box-shadow: 0px 0px 15px var(--warnaUtama);
    border: 3px solid var(--warnaKedua) ;
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(25px);
    gap: 20px;
}

.input-con-regist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--warnaKeempat);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: #0d0d0d;
    mix-blend-mode: difference;
    padding: 5px 15px;
    width: 300px;
}
.input-con-regist i{
    color: rgb(0, 0, 0);
}
.input-con-regist input{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 15px ;
    font-weight: 600;
    margin: 0;
}

.input-con-regist input::placeholder {
    color: #404040e4;
}

.conRegis-1{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 17rem;
    justify-content: space-between;
    align-items: center;
}
.conRegis-1 i{
    position: absolute;
    transform: translateX(-6.5rem);
    color: white;
}
.conRegis-1 i:hover{
    cursor: pointer;
    color: var(--warnaKedua);
}
.logoRegis{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: white;
    margin-top: 40px;
}
>>>>>>> 95b76e1 (Initial commit)

input::placeholder {
    color: black;
}

<<<<<<< HEAD
#input-fields .regist-input:focus {
=======
#input-fields .login-input:focus {
>>>>>>> 95b76e1 (Initial commit)
    outline: none;
    box-shadow: 0px 0px 15px #C79E73;
    border: solid #C79E73;
    background-color: var(--warnaKedua);
    color: black;
}

#remember {
    padding: 0 !important;
    margin: 0 !important;
    width: 20px !important;
    display: block;
    margin-right: 10px !important;
}

#remember-me {
    display: flex;
    width: 100%;
    font-size: 16px;
    mix-blend-mode: difference;
}

<<<<<<< HEAD
#btn-group {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
}

#btn-group button {
    padding: 10px 30px;
    border-radius: 20px;
    width: 45%;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(90deg, var(--warnaUtama), var(--warnaKedua), var(--warnaKetiga), var(--warnaKeempat));
    background-size: 200%;
    transition: 0.3s ease;
    color: white;
}

#btn-group button:hover {
    animation: warna 3s linear;
    background-position: 50% 100%;
=======
 form .regis-btn {
    padding: 7px 25px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
    background-color: green;
    border: white solid 1px;
    background-size: 200%;
    color: white;
    align-self: flex-end;
}
form .regis-btn:disabled{
    background-color: rgb(2, 36, 2);
    color: rgba(255, 255, 255, 0.364);
    border: solid rgba(255, 255, 255, 0.352) 1px;
    cursor: not-allowed;
}

form .regis-btn:hover {
    background-color: rgb(79, 236, 79);
>>>>>>> 95b76e1 (Initial commit)
}

@keyframes warna {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 100%;
    }
}

<<<<<<< HEAD
@media (max-width: 1280px) {
    #regist-container {
        width: 50%;
        height: auto;
        padding: 20px;
    }
    
    #logo-wrapper img{
        width: 15rem;
        margin-right: 20px;
    }

    #input-wrapper {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 1185px) {
    #regist-container {
        width: 50%;
        height: auto;
        /* flex-direction: column; */
        padding: 20px;
    }

    #input-wrapper {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 1155px) {
    #regist-container {
        width: 30%;
        height: auto;
        flex-direction: column;
        padding: 15px;
    }

    hr{
        width: 40%;
    }

    #logo-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #input-fields {
        width: 280px;
    }

    #btn-group {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #btn-group button {
        width: 100%;
    }
}

@media (max-width: 990px){
    #regist-container{
        width: 250px;
        height: auto;
        padding: 20px;
        font-size: 10px;
    }

    .input-regist input, #btn-group button{
        max-width: 70% !important ;
    }

    .input-regist label i {
        right: 55px;
        transform: translateY(3px);
=======
@media (max-width: 724px) {
    #regist-container {
        width: 30rem;
        height: auto;
        padding: 20px;
        gap: 10px;
    }

    .conRegis-1{
        width: 15rem;
    }
    .conRegis-1 i{
        transform: translateX(-90px);
    }
    .logoRegis{
        width: 10rem;
        height: 10rem;
    }
    
    .input-con-regist{
        width: 13rem;
    }

    .input-con-regist input{
        width: 150px !important;
    }   

    .register-anc h6{
        font-size: 11px;
    }
}

@media (max-width: 502px) {
    #regist-container {
        width: 25rem;
        height: 25rem;
        padding: 20px;
        gap: 10px;
    }

    .inputBox-regist{
        font-size: 20px;
    }

    .conRegis-1{
        height: 15rem;
    }
    .conRegis-1 i{
        transform: translateX(-60px);
    }
    .logoRegis{
        width: 8rem;
        height: 8rem;
    }
    
    .input-con-regist{
        width: 13rem;
    }

    .input-con-regist input{
        width: 150px !important;
        font-size: 12px;
    }   

    .register-anc h6{
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    #regist-container {
        width: 18rem;
        height: 19rem;
        padding: 20px;
        gap: 10px;
    }

    .inputBox-regist{
        font-size: 10px;
    }

    .conRegis-1{
        height: 10rem;
    }
    .conRegis-1 i{
        transform: translateX(-50px);
        font-size: 15px;
    }
    .logoRegis{
        width: 5rem;
        height: 5rem;
    }
    
    .input-con-regist{
        width: 8rem;
    }

    .input-con-regist input{
        width: 150px !important;
        font-size: 8px;
    }   

    .register-anc h6{
        font-size: 7px;
    }
    .regis-btn{
        width: 5rem;
        font-size: 8px;
    }
}

@media (max-width: 350px) {
    .inputBox-regist{
        padding-top: 30px;
>>>>>>> 95b76e1 (Initial commit)
    }
}


<<<<<<< HEAD
=======


>>>>>>> 95b76e1 (Initial commit)
