body {
    font-size: 1.5rem;
}

.main-regist {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/bg_login.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.container-regist {
    display: flex;
    justify-content: center;
    color: white;
    background: rgba(186, 229, 253, 0.2);
    box-shadow: 0px 0px 15px var(--warnaUtama);
    border: 3px solid var(--warnaKedua) ;
    border-radius: 20px;
    height: 50%;
    /* width: 50%; */
    padding: 30px;
    backdrop-filter: blur(5px);
}

#logo-wrapper{
    display: flex;
    align-items: center;
}

#logo-wrapper img {
    width: 17rem;
    /* background-color: red; */
    /* height: 100%; */
}

#input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

#input-wrapper h1 {
    margin-bottom: 10px;
}

#input-wrapper h1 a {
    font-style: none;
    font-size: small;
    text-decoration: none;
    color: white;
}


hr {
    width: 80%;
}

#input-fields {
    margin-top: 20px;
    width: 280px;
}

#input-fields form {
    display: flex;
    flex-direction: column;
}

.inpt {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 5px 0;
}

.input-regist label i {
    position: absolute;
    font-size: 20px;
    transform: translateY(8px);
    right: 18px;
}

#input-fields .regist-input {
    font-size: 15px;
    padding: 5px 15px;
    width: 100%;
    border: 2px solid var(--warnaKedua);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

input::placeholder {
    color: black;
}

#input-fields .regist-input:focus {
    outline: none;
    box-shadow: 0px 0px 15px #C79E73;
    border: solid #C79E73;
    background-color: var(--warnaKedua);
    color: black;
}

#remember {
    padding: 0 !important;
    margin: 0 !important;
    width: 20px !important;
    display: block;
    margin-right: 10px !important;
}

#remember-me {
    display: flex;
    width: 100%;
    font-size: 16px;
    mix-blend-mode: difference;
}

#btn-group {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
}

#btn-group button {
    padding: 10px 30px;
    border-radius: 20px;
    width: 45%;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(90deg, var(--warnaUtama), var(--warnaKedua), var(--warnaKetiga), var(--warnaKeempat));
    background-size: 200%;
    transition: 0.3s ease;
    color: white;
}

#btn-group button:hover {
    animation: warna 3s linear;
    background-position: 50% 100%;
}

@keyframes warna {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 100%;
    }
}

@media (max-width: 1280px) {
    #regist-container {
        width: 50%;
        height: auto;
        padding: 20px;
    }
    
    #logo-wrapper img{
        width: 15rem;
        margin-right: 20px;
    }

    #input-wrapper {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 1185px) {
    #regist-container {
        width: 50%;
        height: auto;
        /* flex-direction: column; */
        padding: 20px;
    }

    #input-wrapper {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 1155px) {
    #regist-container {
        width: 30%;
        height: auto;
        flex-direction: column;
        padding: 15px;
    }

    hr{
        width: 40%;
    }

    #logo-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #input-fields {
        width: 280px;
    }

    #btn-group {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #btn-group button {
        width: 100%;
    }
}

@media (max-width: 990px){
    #regist-container{
        width: 250px;
        height: auto;
        padding: 20px;
        font-size: 10px;
    }

    .input-regist input, #btn-group button{
        max-width: 70% !important ;
    }

    .input-regist label i {
        right: 55px;
        transform: translateY(3px);
    }
}


