/*sidebar*/
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 15%;
  height: 100vh;
  background-color: var(--warnaUtama);
  color: white;
  border-right: solid 2px var(--warnaKetiga);
  z-index: 9999;
}
#admin-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 15%;
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  border-right: solid 2px var(--warnaKetiga);
  z-index: 9999;
}
.top-bar {
  display: none;
}
#sidebar hr,
#admin-sidebar hr {
  align-self: center;
}
.top-side {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.side-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 70%;
  padding: 10px 20px;
  height: fit-content;
}
.side-head img {
  object-fit: cover;
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50%;
}
.box-menu {
  margin-top: 20px;
  padding: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 75%;
}
.box-menu a,
.account-container a {
  color: rgb(233, 233, 233);
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
}
.box-menu .active,
.box-menu a:hover {
  cursor: pointer;
  background-color: var(--warnaKetiga);
  color: black;
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 5px;
}
.account-container a {
  font-size: 75%;
}
.account-container .active,
.account-container a:hover {
  cursor: pointer;
  background-color: var(--warnaKetiga);
  color: black;
}
.account-container .regis-btn {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(
    90deg,
    var(--warnaKetiga),
    var(--warnaKelima),
    var(--warnaUtama)
  );
  background-size: 400% 100%;
  border: solid rgb(181, 179, 179) 1px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.3s ease, color 0.3s, box-shadow 0.3s;
  animation: colorShift 4s linear infinite;
}

.account-container .regis-btn:hover {
  cursor: pointer;
  background-color: var(--warnaKedua);
  color: black;
  box-shadow: 2px 3px 5px black;
}
.account-container .logout-btn {
  transition: transform 0.3s ease, color 0.3s, box-shadow 0.3s;
  background-color: rgb(122, 24, 4);
  color: white;
  border: solid wheat 1px;
  border-radius: 10px;
  padding: 5px 10px;
}
.account-container .logout-btn:hover {
  cursor: pointer;
  background-color: gray;
  color: black;
  box-shadow: 2px 3px 5px black;
}

@keyframes colorShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1200px) {
  #sidebar,
  #admin-sidebar {
    font-size: 65%;
  }
  .side-head {
    gap: 2px;
  }
  .top-bar img {
    object-fit: cover;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
  }
  .top-bar .logo-con{
    display: flex;
    padding: 10px 0;
    gap: 5px;
    align-items: center;
    font-size: 70%;
  }
  .account-container a,
  .account-container .regis-btn {
    font-size: 80%;
  }
}

@media (max-width: 800px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Gelap */
    z-index: 999; /* Pastikan overlay berada di atas konten */
  }
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50vw;
    background-color: #2c3e50;
    color: #ecf0f1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1000;
    overflow-y: auto;
    font-size: 80%;
  }
  #admin-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50vw;
    background-color: var(--warnaUtama);
    color: #ecf0f1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1000;
    overflow-y: auto;
    font-size: 80%;
  }
  #sidebar.open,
  #admin-sidebar.open {
    transform: translateX(0);
    opacity: 1;
  }
  #sidebar.closed #admin-sidebar.closed {
    transform: translateX(-100%);
    opacity: 0;
  }
  .account-container a,
  .account-container .regis-btn {
    font-size: 80%;
  }
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--warnaUtama);
    color: white;
    padding: 0 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }
  .top-bar img {
    object-fit: cover;
    width: 30px;
    height: 30px;
  }
  #sidebar img, #admin-sidebar img{
    object-fit: cover;
    width: 35px;
    height: 35px;
  }
  .top-bar button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
  }
  .top-bar button hover {
    display: flex;
  }
}



